/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
nav, footer, header, aside {
  display: block;
}
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
	min-width:1600px;
	font-family: Montserrat;
}
.container {
	min-width:1600px;
	background-color:#F8F9FF;
	height:818px;
	background-image: url("../img/1blok.svg");
	background-repeat: no-repeat;
	background-position: right;
}
.intro {
	margin: 0px 204px 0px 210px;
	position: relative;
}
/*@media screen and (min-width: 320px) {
  .intro {
    margin: 0px 204px 0px 210px;
    position: relative;
  }
}*/
.navbar {
	width: 1200px;
	height: 38px;
	margin:40px 0px 72px 0px;
	position:absolute;
}
.header {
	color: #221B60;
	font-style: normal;
	margin:104px 0px 0px 0px;
	position: absolute;
}
/* стили для header	*/
p {
	font-weight: normal;
	font-size: 30px;
}
.head1{
	width: 763px;
	height: 268px;
	margin: 29px 0px 42px 0px;
	font-weight: bold;
}
h1 {
	font-weight: bold;
	font-size: 55px;
	line-height: 67px;
}
.new{
	margin: 42px 40px 76px 0px;
	font-size: 25px;
}
/* button*/
#poprobovati {
	width: 400px;
	height: 80px;
	border: none;
	font-weight: lighter;
	font-size: 25px;
	line-height: 30px;
	color:#ffffff;
	margin:74px 0px 104px 0px;
	padding:25px 0px 25px 25px;
	background-color:#3B347A;
	display: block;
	cursor: pointer;
}
#strelka {
margin: auto 25px;
}
/* стили для navbar	*/
.link {
  content: "";
  clear: both;
  display: inline;
  box-sizing: border-box;
}
#programma, #spiker {
	margin-right:60px;
	color: #221B60;
	position:top;
	float: right;
}
/*второй слайд*/
.container2 {
	min-width:1600px;
	padding:0px;
	margin:0px;
	background-color:#3B347A;
}
.intro2 {
	margin: 0px 204px 0px 210px;
	height:560px;
	position: relative;
}
.text {
	margin:118px 0px 139px 0px;
	font-size: 25px;
	line-height: 150%;
	color: #FFFFFF;
	position:absolute;
}
.text1 {
	position:absolute;
	font-style: normal;
	width: 450px;
	height: 355px;
	display:inline-block;
	background-image: url("../img/question.svg");
	background-repeat:no-repeat;
	background-position: right top;
}
.text2 {
	margin-left: 500px;
	font-style: normal;
	width: 662px;
	height: 308px;
	display:inline-block;
	position:absolute;
}
/*контейнер 3 слайд*/
.container3 {
	min-width:1600px;
	padding:0px;
	margin:0px;
	background-color:#AFE0D9;
}
.intro3 {
	padding:0px;
	margin: 0px 204px 0px 210px;
	height:1465px;
	position: relative;
	color:#221B60;
}
.what_will_happen {
	padding:0px;
	margin:93px 0px 0px 0px;
	position:absolute;
}
.who_will_be {
	padding:0px;
	margin:518px 0px 105px 0px;
	position:absolute;
}
.head3{
	font-style:bold;
	font-size:55px;
	margin-bottom: 54px;
}
.head31{
	margin: 0px;
	float: left;
	display:inline-block;
	font-style:bold;
	font-size:55px;
}
/*СПИСОК*/
.listUl {
	margin: 20px 0px 0px 120px;
	float: right;
	display:inline-block;
	height:340px;
	width:640px;
	font-style:normal;
	font-size:30px;
	line-height: 150%;
}
ul {

	list-style-image: url(../img/EllipseList.svg);
	margin: 0px
}
li {
	margin-bottom:35px;
}
/*фото Владамира и его описание*/
.vladimir{
	margin-right: 50px;
	width: 566px;
	height: 310px;
	box-sizing: border-box;
	display:inline-block;
	float: left;
}
.vova {
	height: 350px;
	width:566px;
	margin: 0px;
	padding: 0px;
}
.FotoVladimir {
	position: relative;
	font-weight: bold;
	font-size: 55px;
}
.Rounding {
	display: inline;
	border-radius: 200px;
	background-repeat: no-repeat;
	position: absolute;
}
/*Положения имени отдельный контенейр*/
.Repin{
	float:right;
	margin: 224px 0px 0px 239px;
	width: 100px;
	height: 134px;
	display:inline;
	position: absolute;
}
.description1 {
	font-size: 25px;
	line-height: 150%;
	margin-top: 55px;
	width: 565px;
	height: 309px;
}
/*фото Сергея и его описание*/
.sergey{
	display:inline-block;
	float: left;
	width: 566px;
	height: 310px;
	box-sizing: border-box;
}
.serega {
	height: 350px;
	width:566px;
}
.FotoSergey {
	position: relative;
	font-weight: bold;
	font-size: 55px;
}
/*контайнер 4*/
.container4 {
	height: 2100px
}
.intro4 {
	margin: 0px 204px 0px 210px;
}
.modul {
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 49px;
	color: #221B60;
	text-align:center;
	margin: auto;
}
/*Первая колонка первого моудля*/
.colom1 {
	width: 440px;
	height: 1600px;
	margin-top: 85px;
	float: left;
	color: #221B60;
}
/*панелька для  программы*/
.nav {
	margin-bottom: 74px;
	margin-top: 64px;
}
.navprog{
	display: inline-block;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	line-height: 67px;
	color:#221B60;
}
.mod1, .mod2 {
	float: right;
	text-align: center;
	margin-right: 34px;
	margin-top: 30px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #9EA7DB;
	opacity: 0.6;
}
/*первый блок 1 колонки*/
.stringBlock1, .stringBlock2, .stringBlock3, .stringBlock4 {
	width: 437px;
	height: auto;
	margin-bottom: 140px;
	float: left;
}
.may18 {
	display: inline-block;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: #6BADA6;
	margin-right: 50px;
}
.monday {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	display: inline-block;
}
.Systematext {
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	margin: 10px 0px 21px 0px;
}
.prosec {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.01em;
}
.pod {
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.01em;
	color: #9EA7DB;
	opacity: 0.6;
}
/*Вторая колонка блока*/
.colom2 {
	width: 440px;
	height: 1600px;
	margin-top: 215px;
	float: right;
	color: #221B60;
}
.stringBlock12, .stringBlock22, .stringBlock32, .stringBlock42 {
	width: 437px;
	height:auto;
	margin-bottom: 140px;
	float:right;

}
/*линия с кружком и галочкой*/
.headlines {
	margin-top: 85px;
	margin-left: auto;
	margin-right: auto;
	width: 5%;
}
.liner{
	position: relative;
}
.elips1 {
	position: absolute;
}
.elips {
	position:relative;
	width: 52px;
	height: 52px;
	background-image: url(../img/icon/Elips.svg)
}
.gal {
	position: absolute;
	width: auto;
	height: auto;
	margin: 21px 0px 23px 13px;
}
.line {
	position: absolute;
	margin: 50px 0px 0px 25px;
	height: 1543px;
	border-left: 3px solid #6BADA6;
}
.elips2 {
	margin: 200px 0px 0px 1px;
	position: absolute;
}
.elips3 {
	margin: 420px 0px 0px 1px;
	position: absolute;
}
.elips4 {
	margin: 678px 0px 0px 1px;
		position: absolute;
}
.elips5 {
	margin: 856px 0px 0px 1px;
	position: absolute;
}
.elips6 {
	margin: 1124px 0px 0px 1px;
	position: absolute;
}
.elips7 {
	margin: 1305px 0px 0px 1px;
	position: absolute;
}
.elips8 {
	margin: 1543px 0px 0px 1px;
	position: absolute;
}
/*Контейнер 5*/
.contiener5 {
	height: 550px;
	min-width:1600px;
	position: relative;
}
/*картинка*/
.destop{
	z-index: 999999;
	width:500px;
	height: 400px;
    position: absolute;
    margin: 
}
.monitor {
	position: relative;
}
.Monitor{
	background-image: url(../img/computer/desktop.svg);
	width: 360px;
	height: 330px;
	background-repeat: no-repeat;
	z-index: 9;
	display: inline-block;
}
.shawdow {
	position: absolute;
	background-image: url(../img/computer/shawd.svg);
	width: 500px;
	height: 70px;
	background-repeat: no-repeat;
	z-index: 9;
	display: inline-block;
}
.rast {
	position: absolute;
	background-image: url(../img/computer/Group 327.svg);
	width: 150px;
	height: 230px;
	background-repeat: no-repeat;
	z-index: 9;
	display: inline-block;
}

.slide5 {
	margin-right: 117px;
	margin-left: 117px;
}
.text5 {
	background-color: #221B60;
	height: 452px;
	width: 1365px;
	position: relative;
}
.Description{
	position: absolute;
	margin: 79px auto 55px 92px;
	height: 147px;
	width: 700px;
 	font-style: normal;
	font-size: 40px;
	line-height: 49px;
	color: #FFFFFF;

}
.linkButton {
	position: absolute;
	margin: 282px auto 89px 92px;
}
#poprobovati2 {
	position: absolute;
	width: 314px;
	height: 80px;
	border: none;
	font-weight: lighter;
	font-size: 25px;
	line-height: 30px;
	color:#221B60;
	margin:0px
	padding:25px 0px 25px 25px;
	background-color:#C8CEF0;;
	display: block;
	cursor: pointer;
}
.container6 {
	height: 1050px;
	min-width:1600px;
	margin-top: 134px;
}
.intro6{
	margin-right: 117px;
	margin-left: 117px;
}
.line1 {
	position: absolute;
	margin: 50px 0px 0px 25px;
	height: 670px;
	border-left: 3px solid #6BADA6;
}
.colom12 {
	width: 440px;
	height: 500px;
	margin-top: 85px;
	float: left;
	color: #221B60;
}
.colom22 {
	width: 440px;
	height: 500px;
	margin-top: 215px;
	float: right;
	color: #221B60;
}
/*седьмой контейнер*/
.container7 {
	height: 500px;
	min-width:1600px;
	margin-top: 134px;
	background-color: #AFE0D9;
}
.intro7 {
	margin-right: 210px;
	margin-left: 210px;
}
